/* Write your CSS here */
.team-card {
  list-style-type: none;
  display: flex;
  align-items: center;
  width: 350px;
  height: 150px;
  color: white;
  background-color: transparent;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  border-color: white;
  border-width: 1px;
  border-style: solid;
}
.team-card > img {
  width: 25%;
  margin-right: 10px;
}
.team-card-link {
  list-style-type: none;
  text-decoration: none;
}
